
*{
    margin: 0px;
    padding: 0px;
}
.wholecontainer{
    width: 100%;
    background-color: rgb(107, 93, 93);
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
}
 .container{

    background-color: rgb(156, 231, 206);
     border: 2px solid gray; 
     width: 100%;
 }
h1{
     padding: 10px; 
     background-color: rgb(53, 35, 35);
    color:rgb(226, 19, 19) ;
    text-align: center;
    font-size: 3rem; 
}
.polycontaine{
    display: grid;
    grid-template-columns: repeat(1px, 100);
    grid-template-rows: repeat(1px, 100);
} 
form{
    color: beige;
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
}
.sides{
    padding: 7px;
    font-size: 1.2rem;
    background-color: rgba(20, 20, 20, 0.911);
    color: rgb(240, 226, 236);
    border-radius: 10px ;
    margin: 10px 0px;
}
.generate{
    padding: 7px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(166, 179, 174);
    color: rgb(197, 27, 27);
}
